<<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HelpRecruiter</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="full-page">
            <div class="navbar">
                <div>
                    <a href='website.html' >Recruitement Process 2022</a>
                </div>
                <nav>
                    <ul id='MenuItems'>
                        <li> <a href='#' >Home </a> </li>
                        <li> <a href='#' >About us </a> </li>
                        <li> <a href='#' >Services </a> </li>
                        <li> <a href='#' >Contact </a> </li>
                        <li> <button class='loginbtn'onclick="document.getElementById('login-form').style.display='block'"
                        style="width:auto;">Login</button>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id='login-form'class='login-page'>
                <div class="form-fox">  
                    <div class='button-box'>
                        <div id='btn'></div>
                        <button
                        type='button'onclick='login()'class='toggle-btn'>Log In</button>
                        <button
                        type='button'onclick='register()'class='toggle-btn'>register</button>
                    </div>
                    <form id='login'class='input-group-login'>
                        <input type='text'class='input-field'placeholder='Enter Password' required>
                        <input type='checkbox'class='check-box'><span>Remember Password</span>
                        <button typr='submit' class='submit-btn'>Log In </button>
                    </form>
                    <form id='register' class='input-group-register'>
                        <input type='text'class='input field' placeholder='First Name' required> 
                        <input type='text'class='input field' placeholder='Last Name' required> 
                        <input type='email'class='input field' placeholder='Email Id' required> 
                        <input type='password'class='input field' placeholder='Enter Password' required>  
                        <input type='password'class='input field' placeholder='Confirm Password' required> 
                        <input type='checkbox'class='input field' placeholder='Check-box'<span>I agree to the terms and conditions</span>
                        <button type='submit' class='submit-btn'>Register</button>
                    </form> 
                </div>
            </div>   
        </div>

        
        <script src="" async defer></script>
    </body>
</html>