<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="mystyle.css">
    </head>
    
    <body>
     
        {% block content %}      

       <!--{% load crispy_forms_tags %}-->

        <!--Login--> 
        <div class="container py-5">
        <h1>Login</h1>
        <form method="POST">
           {% load crispy_forms_tags %}
                {% csrf_token %}
            
                {{ login_form|crispy }}
            <button class="btn btn-primary" type="submit">Login</button>
        
        </form>
        <p class="text-center">Don't have an account? <a href="/register">Create account</a> </p>
        </div>

        {% endblock %}

               
        <script src = "" async defer> </script>
    </body>
</html>