<!DOCTYPE html>

<html>
    <head>
        <meta charset = "utf-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
        <title>register</title>
        <meta name = "description" content = "">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link rel = "stylesheet" href = "">
    </head>
    <body>
    
        {% block content %} 

                
        <!--Register--> 
        <div class = "container py-5">
            <h1 style = "color:blue"> Register </h1>
            
            <form method = "POST" action = "{% url 'register' %}">
                {% load crispy_forms_tags %} 
                    {% csrf_token %}
               
                    <b>{{ form|crispy }}</b> 
                                       
                <br>
                <button class = "btn btn-primary" type = "submit" style = "color:blue"> Register </button>
            
            </form>
            
            <b><p class = "text-center"> If you already have an account, <a href = "/login" > login </a> instead.</p></b>
        
        </div>
        
        {% endblock %}
        
        <script src = "" async defer></script>
    
    </body>
</html>